[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=KitchenAlert
Exec=/usr/bin/KitchenAlert
Icon=kitchenalert
Categories=Utility;
X-Window-Icon=kitchenalert
X-Osso-Type=application/x-executable
Comment=Timer application with multiple timers
